<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhj.merchant">
    <permission
        android:name="com.hhj.merchant.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" /> <!-- Required -->
    <permission
        android:name="com.hhj.merchant.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/hhj"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hhj"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.order.activity.ConfirmGoodsActivity"></activity>
        <activity android:name=".ui.order.activity.OrderGoodsManagerActivity" />
        <activity android:name=".ui.order.activity.OrderDetailActivity" />
        <activity android:name=".ui.order.activity.OrderFinishActivity" />
        <activity android:name=".ui.order.activity.OrderRefundActivity" />
        <activity android:name=".ui.shop.activity.ConnectBluetoothActivity" />
        <activity android:name=".ui.shop.activity.EquipmentManagerActivity" />
        <activity android:name=".ui.shop.activity.VoiceAndNoticeActivity" />
        <activity android:name=".ui.shop.activity.AddDeliveryClerkAndDetailsActivity" />
        <activity android:name=".ui.shop.activity.DeliveryClerkManagerActivity" />
        <activity android:name=".ui.shop.activity.UpdatePassWordActivity" />
        <activity android:name=".ui.shop.activity.UpdatePhoneActivity" />
        <activity android:name=".ui.shop.activity.SetActivity" />
        <activity android:name=".ui.shop.activity.SellerMessageActivity" />
        <activity android:name=".ui.order.activity.OrderSearchActivity" />
        <activity android:name=".ui.order.activity.DistributionListActivity"/>
        <activity
            android:name=".ui.login.activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.activity.SplashActivity"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.activity.GuideActivity" />
        <activity android:name=".ui.main.activity.MainActivity" android:launchMode="singleTask" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hhj.merchant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <receiver
            android:name=".jpush.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.new_hhj" />
            </intent-filter>
        </receiver> <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="a6af0cbe3623c50153542f20" />
    </application>

</manifest>